<!doctype html>
<html>
<head>
    <title>MobiSecure</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <!-- Navbar content -->
  <nav class="navbar navbar-light" style="background-color:rgb(251,252,253);">
  <ul>
    <li> <a style="font-size: x-large" href="/">Home</a> </li>
    <li> <a style="font-size: x-large" href="/login">Log In</a> </li>
    </ul>
</nav>
  <form action="order[i].name"></form>
  <!-- <input type="text" name="" id=""> -->
<div class="container">

  <!-- <form action="order[i].name"></form> -->


    <div class="jumbotron text-center">
      <div class="jumbotron">
<h1 class="display-3" style="color: mediumblue">Change the way security works for you.!</h1>
<p class="lead" style="font-weight: 700">Facial Recongination with Machine Learning integrated in your security system to ensure safety at its best. </p>
<hr class="my-2">
<p>Save time by allowing technology to give you the safety you never had.</p>
<p class="lead">
  <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up</a>
    </div>

</div>
</body>
</html>
