<!doctype html>
<html>
<head>
    <title>MobiSecure</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

  <nav class="navbar navbar-light" style="background-color:rgb(251,252,253);">
  <ul>
    <li> <a style="font-size: x-large" href="/">Home</a> </li>
    <li> <a style="font-size: x-large" href="/login">Log In</a> </li>
    </ul>
</nav>

    <div class="page-header text-center">
        <h1 style="color: rgb(251,252,253)">Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <img src="img/me.jpg" class="img-fluid" alt="Responsive image">

          <h2 style="color: rgb(251,252,253)">Authorized Users</h2>
        <!-- <% if (user.local.email) { %> -->
          <!-- <form action="/messages" method="POST">
            <input type="text" value="<%= user.local.email %>" name="name">
            <input type="text" placeholder="message" name="msg">
            <button type="submit">Submit</button>
          </form> -->
        </div>
        <% } %>

</div>
<div>
  <img class="rounded-circle" src="/img/blackmen1.jpeg" alt="Circle image">
  <img class="rounded-circle" src="img/blackmen4.jpeg" alt="Circle image">
  <img class="rounded-circle" src="img/blackmen5.jpeg" alt="Circle image">
  <img class="rounded-circle" src="img/blackmen8.jpeg" alt="Circle image">
</div>

<script src="main.js"></script>

</body>
</html>
